revpi-nodes/examples/RevPi_Nodes_Example.json
[{"id":"4c8a2727.626f18","type":"revpi-single-input","z":"cd6ce79d.34e74","server":"e9d3f71d.b78cb8","inputpin":"Core_Temperature","x":540,"y":140,"wires":[["4cb73975.9ab188"]]},{"id":"4cb73975.9ab188","type":"debug","z":"cd6ce79d.34e74","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":870,"y":200,"wires":[]},{"id":"6eed10e3.2870c8","type":"revpi-multiple-input","z":"cd6ce79d.34e74","server":"e9d3f71d.b78cb8","inputPinList":["Core_Frequency","RevPiIOCycle"],"inputpin":"Core_Frequency,RevPiIOCycle","x":500,"y":220,"wires":[["4cb73975.9ab188"]]},{"id":"6c86be5c.baad28","type":"revpi-output","z":"cd6ce79d.34e74","server":"e9d3f71d.b78cb8","outputpin":"O_1","overwritevalue":false,"outputvalue":"","x":820,"y":480,"wires":[]},{"id":"6d5715d5.52d894","type":"inject","z":"cd6ce79d.34e74","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":590,"y":440,"wires":[["6c86be5c.baad28"]]},{"id":"aa26279c.abde88","type":"inject","z":"cd6ce79d.34e74","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":590,"y":540,"wires":[["6c86be5c.baad28"]]},{"id":"364abe72.67b222","type":"inject","z":"cd6ce79d.34e74","name":"Get I_1","topic":"","payload":"I_1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":310,"y":320,"wires":[["ff6f697.6eb9c18"]]},{"id":"ff6f697.6eb9c18","type":"revpi-getpin","z":"cd6ce79d.34e74","server":"e9d3f71d.b78cb8","inputpin":"I_2","getoverwritevalue":true,"x":570,"y":320,"wires":[["4cb73975.9ab188"]]},{"id":"e9d3f71d.b78cb8","type":"revpi-server","z":0,"host":"127.0.0.1","port":"8000"}]